/*头部与布局*/
#th_pl .mid{
	width:980px;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:28px;
}
#th_pl .main-top{
	float:left;
	width:702px;
	height:27px;
}
#th_pl .midRig{
	float:right;
	width:260px;
}
#th_pl .midRig .circle-con{
	height:160px;
}
#th_pl .midRig .circle-con .pic{
	height:118px;
}
#th_pl .circle{
	float:left;
	width:702px;
	margin-top:6px;
}
#th_pl .circle-con{
	height:697px;
}
#th_pl .midCon{
	float:right;
	width:260px;
	margin-top:15px;
}
#th_pl .midCon .circle-con{
	height:180px;
}
#th_pl .midBot{
	float:right;
	width:260px;
	margin-top:15px;	
}
#th_pl .midBot .circle-con{
	height:244px;
}
/*左侧列表内容*/
#th_pl .cuteMath{
	padding-top:15px;
	overflow:hidden;
	font-size:14px;
	height:95px;
	width:700px;
	background:url("../images/c_dl-bot-bg.gif") 0 bottom repeat-x;
}
#th_pl .cuteMath a.teacher{
	float:left;
	margin-left:21px;
}
#th_pl .cuteMath a.name{
	width:570px;
	float:left;
	margin:0px 0px 0px 22px;
	color:#fca775;
	line-height:15px;
	font-size:14px;
	text-decoration:none;
}
#th_pl .cuteMath span{
	float:left;
	margin-left:22px;
	color:#8b8c8c;
	font-size:12px;
}
#th_pl .study{
	float:left;
	width:590px;
}
#th_pl .study p{
	color:#797979;
	font-size:12px;
	margin-left:22px;
}
#th_pl .study span{
	height:20px;
}
#th_pl .study a{
	color:#a00000;
	text-decoration:underline;
	font-size:11px;
}
#th_pl .cuteMath.exc{
	background:none;
}
/*左侧列表无背景设置*/
#th_pl .mid .circle-tm{
	background-color:#fff;
}
#th_pl .mid .circle-con{
	background-color:#fff;
}
#th_pl .mid .circle-bm{
	background-color:#fff;
}